includes:
    - ./phpstan-baseline.neon

parameters:

    paths:
        - ../app/
        - ../database
        - ../tests/
        - ../microservices/
        - ../config
        - ../lang
        - ../routes

    # Level 9 is the highest level
    level: 5

rules:
	- Drmovi\LaraMicroBoundaries\LaraMicroBoundaries
