includes:
    - ./phpstan-baseline.neon
    - ../vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - ../app/
        - ../database
        - ../tests/
        - ../packages
        - ../config
        - ../lang
        - ../routes

    # Level 9 is the highest level
    level: 5
