includes:
    - ./phpstan-baseline.neon

parameters:

    paths:
         - ../microservices

    # Level 9 is the highest level
    level: 5

rules:
	- Drmovi\LaraMicroBoundaries\LaraMicroBoundaries
